@model repos.models.blocks.ToolBarBlock
@{
}
<br />
<div class="d-flex flex-row-reverse p-2"><img class="imgformat p-2" src="/images/magnifying-glass-finder.png"/> <b>Find</b>
    <img class="imgformat p-2"src="/images/add-file.png"/> <b>New</b>
    <img class="imgformat p-2"src="/images/diskette.png"/> <b>Save</b>
</div>