body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input[name][type]:not([type='radio']),
select,
textarea {
    max-width: 1000px;
    width: 530px;
}

input[name][type='radio'] {
    width: 100px;
}

label.Form__Element__Caption {
    width: 440px;
    max-width: 600px;
    height: 35px;
}
/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.brand-color {
    background-color: #f47320;
    border-color: #f47320;
    color: #ffffff
}

.forms-label-width {
    width:400px;
}

.forms-content-width {
    width: 800px;
}