@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using EPiServer.Web.Mvc.Html
@model repos.models.pages.HomePage
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.PropertyFor(x => x.Main)
</div>


@section Scripts
{
    <script type="text/javascript">
        
        function CallWebAPI() {
            alert("called me");

            //var name = document.getElementById("txtName").value;
            //var person = '{Name: "' + name + '" }';
            var request;
            if (window.XMLHttpRequest) {
                //New browsers.
                request = new XMLHttpRequest();
            }
            else if (window.ActiveXObject) {
                //Old IE Browsers.
                request = new ActiveXObject("Microsoft.XMLHTTP");
            }
           if (request != null) {
                var url = "https://localhost:7066/api/ExternalService/3";
                request.open("GET", url, false);
                request.setRequestHeader("Content-Type", "application/json");
                request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
                request.setRequestHeader('Access-Control-Allow-Origin', '*');
                request.onreadystatechange = function () {
                    if (request.readyState == 4 && request.status == 200) {
                        var response = JSON.parse(request.responseText);
                        console.dir(response);
                        //alert("Hello: " + response.Name + ".\nCurrent Date and Time: " + response.DateTime);
                    }
                };
                request.send(null);
            }
        }
    </script>
}